[package]
name = "rust_arroyo"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
chrono = "0.4.26"
uuid = "0.8"
rdkafka = { version = "0.28", features = ["cmake-build"] }
thiserror = "1.0"
clap = "2.18.0"
tokio = { version = "1.19.2", features = ["full"] }
futures = "0.3.21"
env_logger = "0.10.0"
log = "0.4"
serde_json = "1.0.81"
serde = {version = "1.0.137", features = ["derive"] }
