[package]
name = "rust_arroyo"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
chrono = "0.4.11"
uuid = "0.8"
by_address = "1.0.4"
rdkafka = { version = "0.28", features = ["cmake-build"] }
thiserror = "1.0"
clap = "2.18.0"
tokio = { version = "1.19.2", features = ["full"] }
futures = "0.3.28"
env_logger = "0.9.0"
log = "0.4.17"
cadence = "0.29.0"
lazy_static = "1.4.0"
parking_lot = "0.10.0"
rand="0.8.5"
reqwest = "0.11.11"
serde_json = "1.0.81"
serde = {version = "1.0.137", features = ["derive"] }
async-trait = "0.1.68"
