body {
    font-family: "Verdana"
}
code {
    background-color: #EEE;
}
pre {
    margin: 1em;
    padding: 1em;
    background-color: #EEE;
}

.option {
  margin-bottom: 5px;
}

.option.disabled {
    pointer-events:none;
    opacity:0.3;
}

.option label{
    display:inline-block;
    width: 240px;
}


