version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/snuba/admin"
    schedule:
      interval: "weekly"
      day: "sunday"
    open-pull-requests-limit: 10

  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "sunday"
    open-pull-requests-limit: 50
    ignore:
      - dependency-name: "parsimonious"
