version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/snuba/admin"
    schedule:
      interval: "weekly"
      day: "sunday"
    open-pull-requests-limit: 10

  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "sunday"
    open-pull-requests-limit: 50
    ignore:
      - dependency-name: "parsimonious"
      # sentry-kafka-schemas has its own lints to ensure it is reasonably
      # up-to-date -- we should rely on them
      - dependency-name: "sentry-kafka-schemas"

  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "sunday"
    open-pull-requests-limit: 0 # security updates only

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      # Check for updates to GitHub Actions every week
      interval: "weekly"
      day: "sunday"
    open-pull-requests-limit: 10
