.git
*/.gitignore
docs
cloudbuild.*
docker-compose.*
CODEOWNERS
conftest.py
*.pyc
*.swp
.artifacts
.coverage
.mypy_cache/
.pytest_cache/
.venv
htmlcov/
snuba.egg-info/
.github/
snuba/admin/dist/bundle.js*
*/node_modules
rust_snuba/target/
