#!/bin/bash
# shellcheck disable=SC1091

if [ ! -d .venv ]; then
    echo "warning: creating virtualenv for the first time"
    if which pyenv > /dev/null; then
        eval "$(pyenv init -)"
        pyenv install -s
    else
        echo "warning: pyenv not installed, using python3 and hoping for the best"
    fi

    python3 -m venv .venv
    source .venv/bin/activate
    pip install $(grep ^-- requirements.txt) --upgrade pip==22.2.2 wheel==0.37.1
    make develop
else
    source .venv/bin/activate
    unset PS1
fi

. scripts/rust-envvars
