#!/bin/bash
# shellcheck disable=SC1091

for f in $HOME/.pyenv/versions/3.8.16/bin/python python3.8 python3; do
    echo "Attempting to find Python at $f"

    if which $f > /dev/null; then
        python_bin=python3.8
        break
    fi
done

if [ -z "$python_bin" ]; then
    echo "!!! ERROR -- did not find a suitable Python version, giving up."
    echo "Install Python 3 manually, or install sentry first."
fi

if [ ! -d .venv ]; then
    $python_bin -m venv .venv
    source .venv/bin/activate
    pip install $(grep ^-- requirements.txt) --upgrade pip==22.2.2 wheel==0.37.1
    make develop
else
    source .venv/bin/activate
fi

unset PS1
