*.pyc
*.swp
.artifacts
.coverage
.mypy_cache/
.pytest_cache/
.venv
htmlcov/
snuba.egg-info/
.DS_Store
.idea/
node_modules
.vscode/*.log
snuba/admin/dist/bundle.js*
tmp/
gocd/templates/vendor/
gocd/generated-pipelines/
