services:
  - docker
  - redis-server

dist: xenial

before_install:
  - docker run -d --network host --name zookeeper -e ZOOKEEPER_CLIENT_PORT=2181 confluentinc/cp-zookeeper:4.1.0
  - docker run -d --network host --name kafka -e KAFKA_ZOOKEEPER_CONNECT=localhost:2181 -e KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://localhost:9092 -e KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1 confluentinc/cp-kafka:4.1.0
  - docker run -d --net host --name clickhouse-server --ulimit nofile=262144:262144 yandex/clickhouse-server:19.16
  - make travis-start-redis-cluster
  - docker build -t getsentry/snuba .
  - docker ps -a

script:
  - docker run --net host -e SNUBA_SETTINGS=travis --entrypoint python getsentry/snuba -m pytest -vv
