sudo: required
services:
  - docker
dist: trusty
language: python
python:
  - "3.6"
cache:
  pip: true
before_install:
  - docker run -d --name clickhouse-server -p 9000:9000 -p 9009:9009 -p 8123:8123 --ulimit nofile=262144:262144 yandex/clickhouse-server:18.14.9
  - sudo add-apt-repository ppa:chris-lea/redis-server -y
  - sudo apt-get update
  - sudo apt-get install redis
  - redis-server --version
  - redis-cli --version
  - make travis-start-redis-cluster
  - make install-python-dependencies
script:
  - make travis-test
