sudo: required
services:
  - docker
dist: trusty
language: python
python:
  - "2.7"
  - "3.6"
env:
  global:
    - CACHE_DIR=$HOME/.cache/docker
    - CACHE_FILE_SNUBA=$CACHE_DIR/snuba.tar.gz
    - IMAGE_NAME=getsentry/snuba
    # DOCKER_USER
    - secure: "TfYIAcUE8KupGGQZsqKJ95eFUq2vB2U2XMHPpasdTbC+L1Fqo2Cv+t6Fn910A07Wz1txZl7vZJ5LD+WZPxpIOK9/Zbbrxf2kSFnvuVl6O6gAy5tpdCq9AN2yUwk0/Ijxd7MikMn/bqjIg8J/SCJXH2MabAn0Y9BbFTwgt81r/IWQmkwNNOYkUlaVjJzuYvBo7zQnk7yLcvEJWtLMsq5XRK0zuSUmmfNFzjJc7bcE/jlUV9kqj63HYHAv90az8x9SUyBx96rvqn1c+bprI2+9UNmNwgXYv5gSX3t1SUz/VqAbxuNn4DQjqZ0XzFq/+k9uH34ns/SVQu7QzYaqjoxNXlCm77EJwK1X9iZUbzaghBhXXcsh/BkMwa3xSBy6vCNP2Bl+M2S+nBJljJNTxGJTQziZ6H0bsh2XoSpgIjOAS3Vv9FrSOYDiO4Rhjilk4t4FlMVm4WTNGNiMPrnZHM8+yEvckHdhG6fpZyDcTpnLZw45VWquY0ku9iDJyg+zRrIFazpKxNCrNRQKjrzfPi1iy94HbJ2Q5Y1bRcT2yla15oOK+WFl1s6q7DwI106Y+RxArFN7gBhAIWUIigS/2EMY+yW0HZPC4ZYbMGEk+MZzWOvBPQpV07MYizv//2yUP9tdrkcuYdg8OdhrzP910/XWzTlvSx3tqGSXquHWsqKFbDo="
    # DOCKER_PASS
    - secure: "PBDvZlXah3p+RITyOtitteyvpxklEBOTOiuvldQSzbkF2LpSRQkpuTm7SZa1Cp+uJBbeS56GYIDQb7y8Pr9zQfMPD8xOV8AEXa9HI0uzt+Yy7H9UCTvQ+HT8yJ1kTd160sPlnr8fdUuf3PaOL7xTLGSgZo7AZXQ1omFzeLLYKr7yi80bS//+8hzP1uA+hJrh6eRaUu2DPgtAMMzZRYur237iD6OobHKBs7OI7EeioVpIyjeti4+LwF+OLlUtTKuQ7xxPmwKxFdyPA7P4a8mGlsoWPSTP0QqcZookqI/S2BJf12+N//m8doFZF9Xk4V2Kretps8P9asBiHenntLikvAhw/2U3HJ6a0INt2qT2kloOG6Yhf7qCGI2h78z3j+caS5V1xEaCPBNsCAZQUFaRXfebURab62hn8zOG+XLE60oPJ+ESemPeoveEArxQ5OilUbeoEezxn+1GnuFj97o8qgqE7BBFs3Bfp0Rk0D/QTluzfgm5WEAT9Lf8JEX9Xnf51OvdbXbItbNxlegEu25QslaoCN5UBM+Mm0SGvQKQbMg7NiOmoG64FB3hlRgReW13iD7wY7zTj7LRtOhnUHuAYEj9UuqtaQNEP2jI13IZAr3kTKlZKTIw0RgLVT9BX4qHD0DtEDhsu56XHS/Tz/W2Z4ptKzAGZ1KZJoD8HV+0cvA="
cache:
  pip: true
  directories:
  - $CACHE_DIR
before_install:
  - mkdir -p $CACHE_DIR
  - docker run -d --name clickhouse-server -p 9000:9000 -p 9009:9009 -p 8123:8123 --ulimit nofile=262144:262144 yandex/clickhouse-server:18.14.9
  - redis-server --version
  - redis-cli --version
  - make travis-start-redis-cluster
  - make install-librdkafka
  - make install-python-dependencies
  - if [ -f ${CACHE_FILE_SNUBA} ]; then gzip -dc $CACHE_FILE_SNUBA | docker load; fi
script:
  - make travis-test
before_deploy:
  - docker pull "$IMAGE_NAME" || true
  # docker build --pull --cache-from "$IMAGE_NAME" --tag "$IMAGE_NAME" --build-arg PYTHON_VERSION=3 --build-arg PYPY_SUFFIX=3 .
  - docker build --pull --cache-from "$IMAGE_NAME" --tag "$IMAGE_NAME" --build-arg GIT_SHA=$(git rev-parse HEAD) .
  - docker save $IMAGE_NAME | gzip > $CACHE_FILE_SNUBA
  - echo "$DOCKER_PASS" | docker login -u "$DOCKER_USER" --password-stdin
  - docker tag "$IMAGE_NAME" "${IMAGE_NAME}:latest"
  - docker tag "$IMAGE_NAME" "${IMAGE_NAME}:$(git rev-parse HEAD)"
deploy:
  skip_cleanup: true
  provider: script
  script: docker push "${IMAGE_NAME}:latest" && docker push "${IMAGE_NAME}:$(git rev-parse HEAD)"
  on:
    branch: master
