# Legal
/LICENSE  @getsentry/owners-legal

# Build & Releases
/.github/workflows/release.yml  @getsentry/releases
/.craft.yml                     @getsentry/releases
/docker-compose.gcb.yml         @getsentry/releases
/docker-compose.yml             @getsentry/releases
/docker_entrypoint.sh           @getsentry/releases
/cloudbuild.yaml                @getsentry/releases

# Everything else
* @getsentry/owners-snuba
