---
version: '3'
services:
  snuba-api:
    build: ./
    ports:
      - "1218:1218"
    volumes:
      - ".:/usr/src/snuba/"
    command:
      - "api"
      - "--http"
      - "0.0.0.0:1218"
      - "--py-autoreload"
      - "1"
      - "--http-keepalive"
    environment: &snuba_env
      CLICKHOUSE_HOST: 'clickhouse'
      REDIS_HOST: 'redis'
      # Uncomment this to run sentry's snuba testsuite
      #SNUBA_SETTINGS: test
  clickhouse:
    image: clickhouse/clickhouse-server:21.8
    ports:
      - "9000:9000"
      - "9009:9009"
      - "8123:8123"
    volumes:
      - "clickhouse:/var/lib/clickhouse"
    ulimits:
      nofile:
        soft: 662144
        hard: 662144
  redis:
    image: redis:5.0-alpine
    ports:
      - "6379:6379"

volumes:
  clickhouse:
