---
version: "3.4"

x-test-common: &test-common
  depends_on:
    redis-cluster:
      condition: service_healthy
    kafka:
      condition: service_started
    clickhouse:
      condition: service_started
    zookeeper:
      condition: service_started
  image: "$SNUBA_IMAGE"
  profiles: ["run_test"]
  volumes:
    - ".artifacts:/.artifacts"
  environment:
    SNUBA_SETTINGS: "$SNUBA_SETTINGS"
    CLICKHOUSE_HOST: clickhouse
    USE_REDIS_CLUSTER: "1"
    REDIS_HOST: "redis-cluster"
    REDIS_PORT: 7000
    REDIS_DB: 0
    DEFAULT_BROKERS: "kafka:9092"
  # override the `snuba` user to write to the /.artifacts mount
  user: root

services:
  snuba-test-rust:
    <<: *test-common
    entrypoint: /bin/sh
    command:
      - "-c"
      - >-
        snuba migrations migrate --force
        && make test-rust
  snuba-test:
    <<: *test-common
    entrypoint: python
    command:
      - "-m"
      - "pytest"
      - "-x"
      - "-vv"
      - "${TEST_LOCATION:-tests}"
      - "--cov"
      - "."
      - "--cov-report"
      - "xml:/.artifacts/${TEST_LOCATION:-tests}/${SNUBA_SETTINGS}/coverage.xml"
      - "--junit-xml"
      - "/.artifacts/${TEST_LOCATION:-tests}/${SNUBA_SETTINGS}/pytest.junit.xml"
  zookeeper:
    image: "confluentinc/cp-zookeeper:5.1.2"
    environment:
      ZOOKEEPER_CLIENT_PORT: "2181"
      CONFLUENT_SUPPORT_METRICS_ENABLE: "false"
      ZOOKEEPER_LOG4J_ROOT_LOGLEVEL: "WARN"
      ZOOKEEPER_TOOLS_LOG4J_LOGLEVEL: "WARN"
  kafka:
    depends_on:
      - zookeeper
    image: "confluentinc/cp-kafka:5.1.2"
    environment:
      KAFKA_ZOOKEEPER_CONNECT: "zookeeper:2181"
      KAFKA_ADVERTISED_LISTENERS: "PLAINTEXT://kafka:9092"
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: "1"
      CONFLUENT_SUPPORT_METRICS_ENABLE: "false"
      KAFKA_LOG4J_LOGGERS: "kafka.cluster=WARN,kafka.controller=WARN,kafka.coordinator=WARN,kafka.log=WARN,kafka.server=WARN,kafka.zookeeper=WARN,state.change.logger=WARN"
      KAFKA_LOG4J_ROOT_LOGLEVEL: "WARN"
      KAFKA_TOOLS_LOG4J_LOGLEVEL: "WARN"
  clickhouse:
    image: "${CLICKHOUSE_IMAGE:-altinity/clickhouse-server:21.8.13.1.altinitystable}"
    volumes:
      - ./config/clickhouse/macros.xml:/etc/clickhouse-server/config.d/macros.xml
      - ./config/clickhouse/zookeeper.xml:/etc/clickhouse-server/config.d/zookeeper.xml
      - ./config/clickhouse/remote_servers.xml:/etc/clickhouse-server/config.d/remote_servers.xml
    ulimits:
      nofile:
        soft: 262144
        hard: 262144

  # nodes for multi-node clickhouse cluster
  clickhouse-query:
    depends_on:
      - zookeeper
    image: "${CLICKHOUSE_IMAGE:-altinity/clickhouse-server:21.8.13.1.altinitystable}"
    profiles: ["multi_node"]
    volumes:
      - ./test_distributed_migrations/config/clickhouse/zookeeper.xml:/etc/clickhouse-server/config.d/zookeeper.xml
      - ./test_distributed_migrations/config/clickhouse/remote_servers.xml:/etc/clickhouse-server/config.d/remote_servers.xml
    ulimits:
      nofile:
        soft: 262144
        hard: 262144
  clickhouse-01:
    depends_on:
      - zookeeper
    image: "${CLICKHOUSE_IMAGE:-altinity/clickhouse-server:21.8.13.1.altinitystable}"
    profiles: ["multi_node"]
    volumes:
      - ./test_distributed_migrations/config/clickhouse/macros-01.xml:/etc/clickhouse-server/config.d/macros.xml
      - ./test_distributed_migrations/config/clickhouse/zookeeper.xml:/etc/clickhouse-server/config.d/zookeeper.xml
      - ./test_distributed_migrations/config/clickhouse/remote_servers.xml:/etc/clickhouse-server/config.d/remote_servers.xml
    ulimits:
      nofile:
        soft: 262144
        hard: 262144
  clickhouse-02:
    depends_on:
      - zookeeper
    image: "${CLICKHOUSE_IMAGE:-altinity/clickhouse-server:21.8.13.1.altinitystable}"
    profiles: ["multi_node"]
    volumes:
      - ./test_distributed_migrations/config/clickhouse/macros-02.xml:/etc/clickhouse-server/config.d/macros.xml
      - ./test_distributed_migrations/config/clickhouse/zookeeper.xml:/etc/clickhouse-server/config.d/zookeeper.xml
      - ./test_distributed_migrations/config/clickhouse/remote_servers.xml:/etc/clickhouse-server/config.d/remote_servers.xml
    ulimits:
      nofile:
        soft: 262144
        hard: 262144
  clickhouse-03:
    depends_on:
      - zookeeper
    image: "${CLICKHOUSE_IMAGE:-altinity/clickhouse-server:21.8.13.1.altinitystable}"
    profiles: ["multi_node"]
    volumes:
      - ./test_distributed_migrations/config/clickhouse/macros-03.xml:/etc/clickhouse-server/config.d/macros.xml
      - ./test_distributed_migrations/config/clickhouse/zookeeper.xml:/etc/clickhouse-server/config.d/zookeeper.xml
      - ./test_distributed_migrations/config/clickhouse/remote_servers.xml:/etc/clickhouse-server/config.d/remote_servers.xml
    ulimits:
      nofile:
        soft: 262144
        hard: 262144
  clickhouse-04:
    depends_on:
      - zookeeper
    image: "${CLICKHOUSE_IMAGE:-altinity/clickhouse-server:21.8.13.1.altinitystable}"
    profiles: ["multi_node"]
    volumes:
      - ./test_distributed_migrations/config/clickhouse/macros-04.xml:/etc/clickhouse-server/config.d/macros.xml
      - ./test_distributed_migrations/config/clickhouse/zookeeper.xml:/etc/clickhouse-server/config.d/zookeeper.xml
      - ./test_distributed_migrations/config/clickhouse/remote_servers.xml:/etc/clickhouse-server/config.d/remote_servers.xml
    ulimits:
      nofile:
        soft: 262144
        hard: 262144

  # This is the same thing as https://github.com/Grokzen/docker-redis-cluster but mirrored
  redis-cluster:
    image: ghcr.io/getsentry/docker-redis-cluster:7.0.10
    healthcheck:
      test: ["CMD-SHELL", 'redis-cli cluster info | grep "cluster_slots_assigned:16384"']

networks:
  default:
    external:
      name: cloudbuild
