--index-url https://pypi.devinfra.sentry.io/simple

time-machine==2.13.0

# for typing
mypy==1.1.1
types-python-dateutil==2.8.19.14
types-pyyaml==6.0.12.20240808
types-requests==2.32.0.20240907
types-setuptools==74.1.0.20240907
types-simplejson==3.17.7
types-google-cloud-ndb==2.2.0
