backports.functools-lru-cache==1.5
backports.shutil-get-terminal-size==1.0.0
functools32==3.2.3.post2
futures==3.2.0
geoip2==2.9.0
ipaddress==1.0.22
ipython==5.7.0
ipdb==0.11
maxminddb==1.4.0
scandir==1.7
