atomicwrites==1.4.0
blinker==1.4
black==22.3.0
certifi==2022.6.15
chardet==4.0.0
click==8.0.4
clickhouse-driver==0.2.4
colorama==0.3.9
confluent-kafka==1.7.0
coverage==6.4.1
datadog==0.21.0
deprecation==2.1.0
docopt==0.6.2
flake8==4.0.1
Flask==1.0.2
future==0.18.2
honcho==1.0.1
idna==3.3
isort==5.8.0
itsdangerous==0.24
Jinja2==2.11.3
jsonschema==3.0.1
lz4==2.0.0
Markdown==2.6.11
MarkupSafe==1.1.1
mywsgi==1.0.3
more-itertools==4.2.0
mypy==0.812
packaging==20.4
parsimonious==0.8.1
py==1.11.0
pyparsing==3.0.9
pytest==6.2.0
pytest-cov==3.0.0
pytest-watch==4.2.0
pathtools==0.1.2
pluggy==0.13.0
progressbar2==4.0.0
python-dateutil==2.7.3
pytz==2022.1
python-rapidjson==1.4
redis==4.3.3
sentry-arroyo==0.2.0
sentry-relay==0.8.12
sentry-sdk==1.5.10
simplejson==3.15.0
urllib3==1.26.9
uWSGI==2.0.20
wcwidth==0.1.7
Werkzeug==2.0.3
