on:
  pull_request:
  push:
    branches: [master]
jobs:
  build:
    name: "build sourcemaps"
    runs-on: ubuntu-latest
    env:
      SENTRY_AUTH_TOKEN: ${{ secrets.SNUBA_SENTRY_SOURCEMAP_KEY }}
      NODE_VERSION: 20.8.1
    steps:
      - uses: actions/checkout@v6.0.2
        name: Checkout code
      - uses: actions/setup-python@v6
        with:
          python-version: 3.8
      - uses: actions/setup-node@v6
        with:
          node-version: ${{env.NODE_VERSION}}
      - name: Build admin sourcemaps
        run: make build-admin
