on:
  pull_request:
  push:
    branches: [master]
jobs:
  build:
    name: "build sourcemaps"
    runs-on: ubuntu-latest
    env:
      SENTRY_AUTH_TOKEN: ${{ secrets.SNUBA_SENTRY_SOURCEMAP_KEY }}
      NODE_VERSION: 20.8.1
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        name: Checkout code
      - uses: actions/setup-python@v6
        with:
          python-version: 3.8
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version: ${{env.NODE_VERSION}}
      - name: Build admin sourcemaps
        run: make build-admin
