name: ci
on:
  push:
    branches:
      - master
  pull_request:
env:
  SNUBA_IMAGE: ghcr.io/getsentry/snuba-ci

jobs:
  linting:
    name: "pre-commit hooks" # (includes Python formatting + linting)
    runs-on: ubuntu-latest
    timeout-minutes: 2
    steps:
      - uses: actions/checkout@v2
        name: Checkout code
      - uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Setup pre-commit
        run: make setup-git
      - name: Run pre-commit checks
        # Run pre-commit to lint and format check files that were changed (but not deleted) compared to master.
        # XXX: there is a very small chance that it'll expand to exceed Linux's limits
        #      `getconf ARG_MAX` - max # bytes of args + environ for exec()
        run: |
          pre-commit run --files $(git diff --diff-filter=d --name-only master)

  typing:
    name: "mypy typing"
    runs-on: ubuntu-latest
    timeout-minutes: 2
    steps:
      - uses: actions/checkout@v2
        name: Checkout code
      - uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          make install-python-dependencies
      - name: Run mypy
        run: |
          mypy --config-file mypy.ini --ignore-missing-imports --strict --warn-unreachable snuba tests/subscriptions

  snuba-image:
    name: Build snuba CI image
    runs-on: ubuntu-latest
    timeout-minutes: 20
    outputs:
      branch: ${{ steps.branch.outputs.branch }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Get branch name
        id: branch
        # strip `refs/heads/` from $GITHUB_REF and replace `/` with `-` so that
        # it can be used as a docker tag
        run: echo "::set-output name=branch::$(echo ${GITHUB_REF#refs/heads/} | tr / -)"

      # We are only using ghcr here for CI as `setup-gcloud` is a bit slow
      # Should revisit this when we move off of google cloud build (we may want to move these to GCR)
      - name: Registry login
        run: |
          echo ${{ secrets.GITHUB_TOKEN }} | docker login ghcr.io -u $GITHUB_ACTOR --password-stdin

      - name: Build snuba docker image for CI
        if: github.repository_owner == 'getsentry'
        run: |
          docker build . \
            --cache-from $SNUBA_IMAGE:latest \
            --cache-from $SNUBA_IMAGE:${{ steps.branch.outputs.branch }} \
            -t $SNUBA_IMAGE:latest \
            -t $SNUBA_IMAGE:${{ steps.branch.outputs.branch }} \
            -t $SNUBA_IMAGE:${{ github.sha }} \
            --target testing

      - name: Publish images for cache
        if: github.repository_owner == 'getsentry'
        run: |
          # Useful to speed up CI
          docker push $SNUBA_IMAGE:${{ steps.branch.outputs.branch }}
          if [ "${{ steps.branch.outputs.branch }}" == 'master' ]; then
            # The latest tag should only be published on `master`
            docker push $SNUBA_IMAGE:latest
          fi

  # For now, we cannot build linux/arm64 images on Linux hosts since
  # |docker buildx ls| does not list arm64 as an option.
  #
  # This step does not have a set timeout because it is very slow. This is due
  # because emulation required (this is running on an Intel host rather than an arm64 host)
  # and that many Python packages do not have arm wheels, thus, requirying to build them from source.
  # Upgrading Python package versions + giving access to a cache could improve things a lot
  snuba-arm64-image:
    name: "Docker Arm64 build"
    runs-on: macos-11
    env:
      # `sentry devservices up snuba` picks up the `amd64` version of the image
      # For now, we will publish to a different name until we want to officially
      # support the image on Docker Hub
      # NOTE: This image has only been tested for local development
      SNUBA_IMAGE: ghcr.io/getsentry/snuba-arm64-dev
    steps:
      - uses: actions/checkout@v2
        name: Checkout code

      - name: Get branch name
        id: branch
        # strip `refs/heads/` from $GITHUB_REF and replace `/` with `-` so that
        # it can be used as a docker tag
        run: echo "::set-output name=branch::$(echo ${GITHUB_REF#refs/heads/} | tr / -)"

      - name: Set up Docker
        run: |
          brew install --cask docker
          sudo /Applications/Docker.app/Contents/MacOS/Docker --unattended --install-privileged-components
          open -a /Applications/Docker.app --args --unattended --accept-license
          echo "We are waiting for Docker to be up and running. It can take over 2 minutes..."
          while ! /Applications/Docker.app/Contents/Resources/bin/docker info &>/dev/null; do sleep 1; done

      - name: Registry login
        run: |
          echo ${{ secrets.GITHUB_TOKEN }} | docker login ghcr.io -u $GITHUB_ACTOR --password-stdin

      - name: Create Image
        run: |
          docker buildx create --name arm64-builder --use
          docker buildx build --platform linux/arm64 \
            --cache-from $SNUBA_IMAGE:latest \
            --cache-from $SNUBA_IMAGE:${{ steps.branch.outputs.branch }} \
            -t $SNUBA_IMAGE:latest \
            -t $SNUBA_IMAGE:${{ steps.branch.outputs.branch }} \
            -t $SNUBA_IMAGE:${{ github.sha }} \
            --load .

      - name: Publish
        # Forks cannot push to the getsentry org
        if: github.repository_owner == 'getsentry'
        run: |
          # Useful to speed up CI
          docker push $SNUBA_IMAGE:${{ steps.branch.outputs.branch }}
          if [ "${{ steps.branch.outputs.branch }}" == 'master']; then
            # Useful for regression testing on Sentry's checkout
            docker push $SNUBA_IMAGE:${{ github.sha }}
            # The latest tag should only be published on `master`
            docker push $SNUBA_IMAGE:latest
          fi

  tests:
    needs: [linting, snuba-image]
    name: Tests and code coverage
    runs-on: ubuntu-latest
    timeout-minutes: 20
    strategy:
      matrix:
        snuba_settings: ["test", "test_distributed"]
    steps:
      - uses: actions/checkout@v2
        name: Checkout code

      - name: Build testing image
        run: |
          docker build . \
            -t snuba-test \
            --cache-from $SNUBA_IMAGE:latest \
            --cache-from $SNUBA_IMAGE:${{ needs.snuba-image.outputs.branch }} \
            --target testing

      - name: Docker set up
        run: |
          docker network create --attachable cloudbuild

      - name: Docker Snuba tests
        run: |
          SNUBA_IMAGE=snuba-test SNUBA_SETTINGS=${{ matrix.snuba_settings }} docker-compose -f docker-compose.gcb.yml run --rm snuba-test

      - name: Upload to codecov
        run: |
          curl -Os https://uploader.codecov.io/latest/linux/codecov && chmod +x codecov && ./codecov -t ${CODECOV_TOKEN}

  sentry:
    needs: [snuba-image]
    runs-on: ubuntu-latest
    timeout-minutes: 90

    strategy:
      matrix:
        instance: [0, 1]

    env:
      USE_INDEXER: 1
      # XXX: MATRIX_INSTANCE_TOTAL must be hardcoded to the length of strategy.matrix.instance.
      MATRIX_INSTANCE_TOTAL: 2
      MIGRATIONS_TEST_MIGRATE: 1

    steps:
      # Checkout codebase
      - name: Checkout snuba
        uses: actions/checkout@v2

      - name: Build test image
        run: |
          docker build . \
            -t snuba-test \
            --cache-from $SNUBA_IMAGE:latest \
            --cache-from $SNUBA_IMAGE:${{ needs.snuba-image.outputs.branch }} \
            --target testing

      # Checkout Sentry and run integration tests against latest snuba
      # Make sure this is after `docker build`, otherwise we'll break docker cache
      - name: Checkout sentry
        uses: actions/checkout@v2
        with:
          repository: getsentry/sentry
          path: sentry

      - name: Setup steps
        id: setup
        run: |
          pip install --upgrade pip wheel
          # We cannot execute actions that are not placed under .github of the main repo
          mkdir -p .github/actions
          cp -r sentry/.github/actions/* .github/actions

      - name: Setup Sentry
        id: setup-sentry
        uses: ./.github/actions/setup-sentry
        with:
          workdir: sentry
          cache-files-hash: ${{ hashFiles('sentry/requirements**.txt') }}
          python-version: 3.8
          snuba: false
          kafka: true
          clickhouse: true

      - name: Start snuba
        run: |
          docker run -d --rm \
            -p 127.0.0.1:1218:1218 \
            -e PYTHONUNBUFFERED=1 \
            -e SNUBA_SETTINGS=docker \
            -e DEBUG=1 \
            -e DEFAULT_BROKERS=sentry_kafka:9092 \
            -e CLICKHOUSE_HOST=sentry_clickhouse \
            -e CLICKHOUSE_PORT=9000 \
            -e CLICKHOUSE_HTTP_PORT=8123 \
            -e REDIS_HOST=sentry_redis \
            -e REDIS_PORT=6379 \
            -e REDIS_DB=1 \
            --name sentry_snuba \
            --network sentry \
            snuba-test
          docker exec sentry_snuba snuba migrations migrate --force

      - name: Run snuba tests
        working-directory: sentry
        run: |
          make test-snuba
