name: ci
on:
  pull_request:

jobs:
  post_changes:
    name: Post new DDL changes from migrations
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v3
        name: Checkout master for diffing
        with:
          ref: master
      - uses: actions/checkout@v3
        name: Checkout HEAD of code that may have migration changes
        with:
          clean: false
      - uses: actions/setup-python@v3
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          make install-python-dependencies
      - name: Run the migration script
        run: |
          SNUBA_SETTINGS=test_distributed python scripts/ddl-changes.py
