name: "Dependency Review"
on:
  pull_request:
    branches: ["master"]

permissions:
  contents: read

jobs:
  dependency-review:
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout Repository"
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6 # v6 # v2
      - name: Dependency Review
        uses: actions/dependency-review-action@v4
        with:
          # Possible values: "critical", "high", "moderate", "low"
          fail-on-severity: high
