name: Snuba Docs

on:
  push:
    branches:
      - master

jobs:
  docs:
    name: Sphinx
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.2

      - uses: astral-sh/setup-uv@884ad927a57e558e7a70b92f2bccf9198a4be546 # v6
        with:
          version: '0.8.2'
          # we just cache the venv-dir directly in action-setup-venv
          enable-cache: false

      - uses: getsentry/action-setup-venv@5a80476d175edf56cb205b08bc58986fa99d1725 # v3.2.0
        with:

          cache-dependency-path: docs-requirements.txt
          install-cmd: echo

      - name: Generate config schema docs
        run: |
          make generate-config-docs

      - name: Build docs
        run: |
          make snubadocs

      - uses: peaceiris/actions-gh-pages@v4.0.0
        name: Publish to GitHub Pages
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/build
          force_orphan: true

      - name: Archive Docs
        uses: actions/upload-artifact@v6
        with:
          name: docs
          path: docs/build
