name: Snuba Docs on PR's

on:
  pull_request:

jobs:
  docs:
    name: Sphinx
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.8'
      - name: Generate config schema docs
        run: |
          pip install virtualenv
          make generate-config-docs
      - name: Build docs
        run: |
          make snubadocs
