name: Snuba Docs on PR's

on:
  pull_request:

jobs:
  docs:
    name: Sphinx
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: astral-sh/setup-uv@884ad927a57e558e7a70b92f2bccf9198a4be546 # v6
        with:
          version: '0.8.2'
          # we just cache the venv-dir directly in action-setup-venv
          enable-cache: false

      - uses: getsentry/action-setup-venv@0958463ee0e02b9e8aa8f8e031afae1f84b80881 # v3.0.0
        with:
          python-version: 3.11.11
          cache-dependency-path: docs-requirements.txt
          install-cmd: echo

      - name: Generate config schema docs
        run: |
          make generate-config-docs

      - name: Build docs
        run: |
          make snubadocs
