name: Snuba Docs

on:
  push:
    branches:
      - master

jobs:
  docs:
    name: Sphinx
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.8'
      - name: Generate config schema docs
        run: |
          pip install virtualenv
          make generate-config-docs
      - name: Build docs
        run: |
          make snubadocs
      - uses: peaceiris/actions-gh-pages@v3.9.3
        name: Publish to GitHub Pages
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/build
          force_orphan: true

      - name: Archive Docs
        uses: actions/upload-artifact@v2
        with:
          name: docs
          path: docs/build
