name: Snuba Docs on PR's

on:
  pull_request:

jobs:
  docs:
    name: Sphinx
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8.10

      - name: Build docs
        run: |
          pip install virtualenv
          make snubadocs
